NEXT_PUBLIC_SUPABASE_URL=https://xkydgfjiofsdqsbozuha.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_k-MWNYGfyK9QzaAZFnF9GQ_fB07Vq5g
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
ADMIN_EMAIL=boaz65sa@gmail.com
