NEXT_PUBLIC_SUPABASE_URL=https://qxpueymbeawmlroknjwe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4cHVleW1iZWF3bWxyb2tuandlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNzUxMTksImV4cCI6MjA4OTc1MTExOX0.rV3zJa-jw9rXyIsCiY1MzF1WlZhdDbs99EHCufrlM9s
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
ADMIN_EMAIL=boaz65sa@gmail.com
